$margin: 10px;
$firstColor: #D6D6D6;
$secondColor: #409D69;
$thirdColor: #00635D;
$fourthColor: #382110;

#profile{
	.main{
		.pullRight{
			float: right;
		}
		.pullLeft{
			float: left;
		}
		.clear{
			clear: both;
		}
		.leftSide{
			hr{
				margin: $margin;
				background-color: $firstColor;
				height: 1px;
			}
			a{
				color: darken($secondColor, 20%);
			}
			.photo{
				img{
					margin: $margin * 2 0;
				}
			}
			.info{
				h1{
					color: $fourthColor;
				}
				label{
					float: left;
					margin-right: $margin * 3;
				}
			}
			.bookshelves{
				h5{
					margin-top: $margin * 3;
					color: $fourthColor;
				}
			}
			.updates{
				.black{
					color: black;
				}
				h5{
					margin-top: $margin * 3;
					color: $fourthColor;
				}
				p{
					margin-top: $margin * 2;
				}

				.profile2{
					height: 70px;
					display: block;
					margin-bottom: $margin;
				}
				.about{
					display: block;
					margin: $margin * 3 0;
					button{
						float: right;
					}
					
				}
				i{
						color: darken($firstColor, 20%);
					}
			}
			.quotes{
				margin-top: $margin * 3; 
				h5{
					a:first-child{
						color: $fourthColor;
					}
				}
			}
			.comments{
				margin-top: $margin * 3; 
				h5{
					a:first-child{
						color: $fourthColor;
					}
				}
				h6{
					margin: 0;
				}
				textarea{
					min-width: 500px;
					min-height: 75px;
				}
			}
		}
		.rightSide{
			h5{
				a{
						color: $fourthColor;
				}
			}
			a{
					color: $thirdColor;
				}
			.friends{
				margin: $margin 0;
				
				p{
					margin: $margin 0;
				}
			}
			.follow{
				margin: $margin * 2 0;
				h6{
					a{
						color: $fourthColor;
					}
				}
				img{
					margin: 0;
				}
			}
			.genres{
				margin:  $margin * 4 0;
				h6{
					color: $fourthColor;
				}
			}
			.readingChallenge{
				h6{
					a{
						color: $fourthColor;
					}
				}
				p{
					text-align: center;
					a{
						color: orange;
					}
				}
				.percent{
					background-color: $firstColor;
					border-radius: 20px;
				}
				button{
					margin: $margin 0 $margin $margin * 7;
				}
			}
		}
	}
	#footer{
		background-color: #F4F1EA;
		margin-top: $margin * 10;
		padding: $margin;
		p{
			a{
				color: darken($firstColor, 20%);
			}
		}
	}
}